
.CardHeader {
    background: linear-gradient(60deg, #3079ed, #4d90fe);
    box-shadow: 0 12px 20px -10px rgba(149, 187, 243, 0), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(128, 184, 233, 0.12);
}
.tab-title {
    font-weight: bold;
    font-size: 15px;
}
.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.center-div
{
    padding: 30px;
    display: inline-block;
}
.mainTop{ 
	padding-top: 0px;
	margin-top: 0px;
}
.tab-nav{ 
 	margin: -7px;
}
.pagination > .active > a{ 
    z-index: 3;
    color: #f5f5f5;
    cursor: pointer;
    background-color: #1a73e8;
    border-color: #1a73e8;
}
.pagination > li > a {
    border-radius: 20px;
}
.single {
    border: none;
}
.table > tbody > tr > td{ 
    font-size: small;
}
thead>tr>th ,.table > tbody > tr> td{
    cursor: pointer;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.searchForm{
    margin-right: 0px;
    margin-left: -100px;
    // margin-bottom: -30px;
    // margin-top: -30px;
}
.CARD{
    padding-left: 20px;
    padding-right: 20px;
        width: 415px;
}
.selectClassif{
        width: 90px;
    margin-left: 20px;
}
.scrollSelect{
    margin-top: 40px;
    position: absolute;
}
.activitySelect{
    margin-left: 50px;
}
.validSelect2{
    left: 40px;
}
.validSelect{
    left: 55px;
}
/* .slideThree */
.SlideThree {
  display: inline-block;
}
.slideThree {
  width: 80px;
  height: 26px;
  background: #eee;    
  margin-left: 27px;
  margin-right: -120px;
  margin-top: -10px;
  position: absolute;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  &:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  }
  &:before{
    content: 'ON';
    color: #f44336c4;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #808080;
    opacity: 0.95;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 43px;
    }
  }    
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px  ;
    grid-template-rows: [row] 90px [row] 80px [row] 140px;
    height: auto;
    background-color: #fff;
    color: #444;
}

.box{
    border-radius: 5px;
		padding: 20px;
		font-size: 150%;
}

.a {
    grid-column: col / span 2;
    grid-row: row ;
}
.b {
    grid-column: col 3 / span 2 ;
    grid-row: row ;
}
.c {
    // grid-column: col ;
    // grid-row: row 2 ;
    grid-column: col / span 2;
    grid-row: row 2;
}
.d {
    // grid-column: col 2 / span 3 ;
    // grid-row: row 2 ;
    grid-column: col 3 / span 2 ;
    grid-row: row 2;
}

.e {
    grid-column: col / span 4;
    grid-row: row 3;
}
/* end .slideThree */
.navbar .navbar-nav > .active > a {
    color: inherit;
    background-color: rgb(153, 153, 153)!important;
}


