<div class="main-content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-black is-empty">
                        <input type="text" class="form-control" [(ngModel)]="searchText" name="searchText" placeholder="Search">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                    <button class="btn btn-inverse" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        Advanced Search
                    </button>
                    <!--Search :  advanced form -->
                    <!-- <div class="collapse multi-collapse searchForm" id="collapseExample" role="menu">
                        <div class="card card-body CARD">
                            <table>
                                <tr class="col-md-12">
                                    <td class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Activity</label>
                                            <select (input)="onInputActivity($event)" class="form-control col-sm-10 validSelect2">
                                                <option *ngFor="let coun of activityTypes" [ngValue]="coun">{{coun}}</option>
                                            </select>

                                        </div>
                                    </td>
                                    <td class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2  control-label">Classification</label>
                                            <select (input)="onInputClassif($event)" class="form-control col-sm-10 validSelect">
                                                <option *ngFor="let coun of classifTypes" [ngValue]="coun">{{coun}}</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="col-md-12">
                                    <td class="col-md-6">
                                        <label class="control-label">Opportunity</label>
                                        <section title="slide" class="SlideThree">
                                         
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="slideThree1" name="check1"
                                                    (change)="opCheckBox($event)" />
                                                <label for="slideThree1"></label>
                                            </div>
                                         
                                        </section>
                                    </td>
                                    <td class="col-md-6 ">
                                        <label class="control-label">Validity</label>
                                        <section title="slide" class="SlideThree">
                                        
                                            <div class="slideThree">
                                                <input type="checkbox" value="None" id="slideThree2" name="check2"
                                                    (change)="validCheckBox($event)" />
                                                <label for="slideThree2"></label>
                                            </div>
                                      
                                        </section>
                                    </td>
                                </tr>
                                <tr class="col-md-12">
                                    <td class="col-md-12">
                                        <div>
                                            <label class="control-label ">Chiffre d'affaire</label>
                                            <ion-range-slider #sliderElement type="double" [min]="minCAslider" [max]="maxCAslider"
                                                prefix="" grid="true" postfix=" KAD" decorate_both="false" (onFinish)="sliderOnFinish($event)"></ion-range-slider>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div> -->
                    <div class="collapse multi-collapse searchForm" id="collapseExample" role="menu">
                        <div class="wrapper">
                            <div class="box a">
                                <label class="col-sm-2 control-label">Activity</label>
                                <select (input)="onInputActivity($event)" class="form-control col-sm-10 validSelect2">
                                    <option *ngFor="let coun of activityTypes" [ngValue]="coun">{{coun}}</option>
                                </select></div>
                            <div class="box b">
                                <label class="col-sm-2  control-label">Classification</label>
                                <select (input)="onInputClassif($event)" class="form-control col-sm-10 validSelect">
                                    <option *ngFor="let coun of classifTypes" [ngValue]="coun">{{coun}}</option>
                                </select>
                            </div>
                            <div class="box c"> <label class="control-label">Opportunity</label>
                                <section title="slide" class="SlideThree">

                                    <div class="slideThree">
                                        <input type="checkbox" value="None" id="slideThree1" name="check1" (change)="opCheckBox($event)" />
                                        <label for="slideThree1"></label>
                                    </div>

                                </section>
                            </div>
                            <div class="box d"> <label class="control-label">Validity</label>
                                <section title="slide" class="SlideThree">

                                    <div class="slideThree">
                                        <input type="checkbox" value="None" id="slideThree2" name="check2" (change)="validCheckBox($event)" />
                                        <label for="slideThree2"></label>
                                    </div>

                                </section>
                            </div>
                            <div class="box e">
                                <div>
                                    <label class="control-label ">Chiffre d'affaire</label>
                                    <ion-range-slider #sliderElement type="double" [min]="minCAslider" [max]="maxCAslider"
                                        prefix="" grid="true" postfix=" KAD" decorate_both="false" (onFinish)="sliderOnFinish($event)"></ion-range-slider>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header CardHeader">
                        <!--  data-background-color="red"-->
                        <div class="nav-tabs-navigation tab-nav ">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title tab-title">Clients:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#Persons" data-toggle="tab" (click)="changeNavTab('p')">
                                            <i class="material-icons">people_outline</i>
                                            All
                                            <div class="ripple-container"></div></a>
                                    </li>
                                    <li class="">
                                        <a href="#nPersons" data-toggle="tab" (click)="changeNavTab('n')">
                                            <i class="material-icons">people</i>
                                            Natural
                                            <div class="ripple-container"></div></a>
                                    </li>
                                    <li class="">
                                        <a href="#lPersons" data-toggle="tab" (click)="changeNavTab('l')">
                                            <i class="material-icons">location_city</i> Legal
                                            <div class="ripple-container"></div></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="Persons">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-default">
                                            <tr>
                                                <th (click)="sort('id')">ID
                                                    <span class="glyphicon sort-icon" *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th (click)="sort('name')">Name
                                                    <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th>Person Type</th>
                                                <th>Emails</th>
                                                <th>Phones</th>
                                                <th (click)="sort('creationDate')">Creation Date
                                                    <span class="glyphicon sort-icon" *ngIf="key =='creationDate'"
                                                        [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let prs of PersonsPages | filter : searchText | orderBy: key : reverse  "
                                                [ngClass]="{'selected': prs == selectedPerson }" (click)="onSelectP(prs)">

                                                <td>{{prs.id}}</td>
                                                <td>{{prs.name}}</td>
                                                <td>{{prs.personType}}</td>

                                                <td *ngIf="prs.emails">
                                                    <div *ngFor="let cls of prs.emails">
                                                        <a *ngIf="cls.stillPrimary == true">{{cls.emailType}} :
                                                            {{cls.address}}</a>
                                                    </div>
                                                </td>
                                                <td *ngIf="prs.phones">
                                                    <div *ngFor="let cls of prs.phones">
                                                        <a *ngIf="cls.stillPrimary == true">{{cls.type}} :
                                                            {{cls.number}}</a>
                                                    </div>
                                                </td>
                                                <td>{{prs.creationDate | date: 'dd-MM-yyyy'}}</td>
                                                <td *ngIf="prs.valid== true;else other_content">Valid
                                                </td>
                                                <ng-template #other_content>Non Valid</ng-template>

                                                <td class="td-actions text-right">
                                                    <button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs"
                                                        mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                                        [popoverMessage]="popoverMessage" placement="top" (confirm)="deletePerson(prs)"
                                                        (cancel)="cancelClicked = true">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                    <!--<button type="button" data-toggle="tooltip" data-placement="bottom" title="More Details" class="btn btn-primary btn-simple btn-xs" [class.selected]="prs === selectedPerson" (click)="onSelectP(prs)"  >
                                                        <i class="material-icons">pages</i>
                                                    </button>-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- pager -->
                                </div>
                            </div>
                            <div class="tab-pane" id="nPersons">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-default">
                                            <tr>
                                                <th>ID</th>
                                                <th>firstName</th>
                                                <th>lastName</th>
                                                <th>nationality</th>
                                                <th>gender</th>
                                                <th>profession</th>
                                                <th>civilStatus</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let nprs of PersonsNPages" [class.selected]="nprs === selectedNPerson"
                                                (click)="onSelectP(nprs)">
                                                <td>{{nprs.id}}</td>
                                                <td>{{nprs.fistName}}</td>
                                                <td>{{nprs.lastName}}</td>
                                                <td>{{nprs.nationality}}</td>
                                                <td>{{nprs.gender}}</td>
                                                <td>{{nprs.profession}}</td>
                                                <td>{{nprs.civilStatus}}</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="lPersons">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-default">
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>legalForm</th>
                                                <th>socialReason</th>
                                                <th>created</th>
                                                <th>activity</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let lprs of PersonsLPages" [class.selected]="lprs === selectedLperson"
                                                (click)="onSelectP(lprs)">
                                                <td>{{lprs.id}}</td>
                                                <td>{{lprs.name}}</td>
                                                <td>{{lprs.legalForm}}</td>
                                                <td>{{lprs.socialReason}}</td>
                                                <td>{{lprs.created}}</td>
                                                <td>{{lprs.activity}}</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-primary  btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div  class="text-center" >
                
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(1)"><<</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)"><</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1)">></a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">>></a>
                            </li>
                        </ul>
                    </div>-->
                    <div class="text-center">

                        <ul *ngIf="PersonsPages || PersonsNPages || PersonsLPages " class="pagination-danger pagination">
                            <li><a class="single">Page {{pager.currentPage}} of {{pager.totalPages}}</a></li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(1)">
                                    <<</a> </li> <li [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a (click)="setPage(pager.currentPage - 1)">
                                            <</a> </li> <li *ngFor="let page of pager.pages; index as index" [ngClass]="{active:pager.currentPage === index + 1}">
                                                <a (click)="setPage(index + 1)">{{index + 1}}</a>
                            </li>



                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1)">></a>
                            </li>


                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">>></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!--
<button id="modalTrigger" data-toggle="modal" data-target="#modalSubscription" >   
</button>
Modal: edit From
<div class="modal fade" id="modalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="editNprsn">
        <div class="modal-dialog cascading-modal" role="document">
             <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Edit Profile</h4>
                    <p class="category">Complete your profile</p>
                </div>
                <div class="card-content">
                    <form  (ngSubmit)="onSubmitEdit()">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">ID </label>
                                    <input type="text" class="form-control" name ="id" [(ngModel)]="editNprsn.id">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">LastName</label>
                                    <input type="text" class="form-control" name="lastName" [(ngModel)]="editNprsn.lastName">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">FirstName</label>
                                    <input type="text" class="form-control" name="firstName" [(ngModel)]="editNprsn.fistName"  >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Profession</label>
                                    <input type="text" class="form-control" name ="profession" [(ngModel)]="editNprsn.profession" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Civil Status</label>
                                    <input type="text" class="form-control" name="staus" [(ngModel)]="editNprsn.civilStatus"  >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Gender</label>
                                    <input type="text" class="form-control" name="gender" [(ngModel)]="editNprsn.gender" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Nationality</label>
                                    <input type="text" class="form-control" name ="nationality" [(ngModel)]="editNprsn.nationality">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
</div>
Modal: edit From-->
<!--collapse of search -->