<div class="main-content">
    <div class="container-fluid" *ngIf="person">
    	<div class="row" >
    		<nav class="navbar navbar-default navBarColors ">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="">
			        Records of the client {{person.name}}
			      </a>
			    </div>
			  </div>
			</nav>
    	</div>
		<div class="row">
            <div class="col-md-12">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">email</i>
                    </div>
                    <h4 *ngIf="person">The email records</h4>
                    <div class="card-content">				      
				      <div class="table-responsive">
				        <table  class="table table-bordered table-hover">
				         <!-- <caption class="text-center">An example of a responsive table based on <a href="https://getbootstrap.com/css/#tables-responsive" target="_blank">Bootstrap</a>:</caption>-->
				          <thead>
				            <tr>
				              <th>Email Type </th>
				              <th>Email Address </th>
				              <th>Status of validity</th>
				            </tr>
				          </thead>
				          <tbody>
							<tr *ngFor="let prs of person.emails"  >
				              <td><input type="text" name="type" [(ngModel)]="prs.emailType"></td>
				              <td><input type="text" name="type" [(ngModel)]="prs.address"></td>
				              <td><input type="text" name="type" [(ngModel)]="prs.valid"></td>
				            </tr>			   
				          </tbody>
				          <!--<tfoot>
				            <tr>
				            	
				              <td colspan="5" class="text-center">Data retrieved from <a href="http://www.infoplease.com/ipa/A0855611.html" target="_blank">infoplease</a> and <a href="http://www.worldometers.info/world-population/population-by-country/" target="_blank">worldometers</a>.</td>
				            </tr>
				          </tfoot>-->
				        </table>
				      </div><!--end of .table-responsive-->
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i> <a href="#pablo">To submit the changes in the emails list click this button </a>
                        </div>
                        <button class="btn btn-default updateBtn" (click)="updatePerson()" >Emails Infos </button>
                    </div>
                </div>
            </div>	
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">perm_phone_msg</i>
                    </div>
                    <h4 >The phone records </h4>
                    <div class="card-content">
				      
				      <div class="table-responsive">
				        <table  class="table table-bordered table-hover">
				          <thead>
				            <tr>
				              <th>Phone Type </th>
				              <th>Phone Number </th>
				              <th>Status of validity</th>
				            </tr>
				          </thead>
				          <tbody >
							<tr *ngFor="let prs of person.phones"  >
				              <td><input type="text" name="type" [(ngModel)]="prs.type"></td>
				              <td><input type="text" name="type" [(ngModel)]="prs.number"></td>
				              <td><input type="text" name="type" [(ngModel)]="prs.valid"></td>
				            </tr>			   
				          </tbody>
				        </table>
				      </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i> <a href="#pablo">To submit the changes in the phones list click this button </a>
                        </div>
                        <button class="btn btn-default updateBtn " (click)="updatePerson()" >Phones Infos </button>
                    </div>
                </div>
            </div>	
        </div>
         <div class="row">
            <div class="col-md-12">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">attach_file</i>
                    </div>
                    <h4 >The Documents records </h4>
                    <div class="card-content">
				      
				      <div class="table-responsive overWriteHeightTable">
				        <table  class="table table-bordered table-hover">
				          <thead>
				            <tr>
				              <th>Document Type </th>
				              <th>Document Code </th>
				              <th>Expiration Date  </th>
				              <th>Document Link   </th>
				              <th>Status of validity</th>
				            </tr>
				          </thead>
				          <tbody >
							<tr *ngFor="let prs of person.documents"  >
				              <td><input type="text" name="type" [(ngModel)]="prs.type"></td>
				              <td><input type="text" name="type" [(ngModel)]="prs.code"></td>
				              <td>
				              	
					              	<ng-datepicker id="date-picker" [(ngModel)]="prs.expire" [options]="options"></ng-datepicker>
					          
			                  </td>

				              <td><!--<input type="text" name="type" >
				              	 [(ngModel)]="prs.link"-->
				              	<a type="button" href="{{prs.link}}" class="btn btn-secondary linkBtn">
                                           <i class="material-icons">link</i> 
                                </a>
                            	</td>
				              <td><input type="text" name="type" [(ngModel)]="prs.valid"></td>
				            </tr>			   
				          </tbody>
				        </table>
				      </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i> <a href="#pablo">To submit the changes in the Documents list click this button </a>
                        </div>
                        <button class="btn btn-default updateBtn " (click)="updatePerson()" >Edit Documents Infos </button>
                    </div>
                </div>
            </div>	
        </div>       
	</div>
</div> 