.card-stats .card-content{
	text-align: center;
}
.card-stats .card-header {
	background: #f33527;
	max-width: 80%;
    max-height: 80px;
}
.col-md-3 {
    width: 80%;
}
table > td {
	cursor : text;
}
input {
	border: aliceblue;
    width: 80%;
    text-align: center;
}
.navBarColors{
	background: linear-gradient(to left,  #ddddddad,#9e9e9e);
    color: #424040;
    width: 90%;
}
.updateBtn{
	background: linear-gradient(260deg, #9e9e9e, #ddddddad);
    border-radius: 40px;
}
.linkBtn {
	text-align: center;
    display: inline;
    /* padding: 10px; */
    border-radius: 20px;
    /* width: 23px; */
    /* margin-bottom: 6px; */
    padding-bottom: 0px;
    padding-top: 20px;
    background-color: lightgray;
    i {
    	top :-10px; 
    }
}
.overWriteHeightTable{
	min-height: unset;
    overflow-x: initial;
}
:host /deep/ .ngx-datepicker-calendar-container {
	z-index : 100!important;
}
#date-picker{
	z-index : 100!important;
}
