<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header  cardHeader" data-background-color="default">
						<!-- <div class="ct-chart" id="dailySalesChart"></div> card-chart-->
						<h4 class="title">The opportunities </h4>
						<button class="btn btn-default addBtn" (click)="addOpportunity()">
							<i class="material-icons">
								add
							</i>
							ADD</button>
					</div>
					<div class="card-content" *ngIf="addOpporBool">

						<div class="alert alert-success" *ngIf="successSubmitForm">
							<div class="container-fluid">
								<div class="alert-icon">
									<i class="material-icons">check</i>
								</div>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true"><i class="material-icons">clear</i></span>
								</button>
								<b>Done</b> the previous opportunity is successfully been added
							</div>
						</div>


						<form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
							<div class="col-sm-4">
								<div class="form-group label-floating">
									<label class="control-label">Name</label>
									<input type="text" class="form-control" formControlName="name">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group label-floating">
									<label class="control-label">Expected Income</label>
									<input type="number" min="1" class="form-control" formControlName="expectedIncome">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group label-floating">
									<label class="control-label">Source</label>
									<input type="text" class="form-control" formControlName="source">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group label-floating">
									<label class="control-label">Campaign</label>
									<input type="text" class="form-control" formControlName="campaign">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group label-floating">
									<label class="control-label">Close Date</label>
									<input type="date" class="form-control" formControlName="closeDate">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group label-floating">
									<label class="control-label">Status</label>

									<select class="form-control" formControlName="status">
										<option value="NEW_LEAD">NEW LEAD</option>
										<option value="WAITING">WAITING</option>
										<option value="QUALIFIED">QUALIFIED</option>
										<option value="QUOTATION_SENT">QUOTATION SENT</option>
										<option value="PROPOSAL_SENT">PROPOSAL SENT</option>
										<option value="CLOSING">CLOSING</option>
										<option value="EXPECTING_ORDER">EXPECTING ORDER</option>
										<option value="WON">WON</option>
										<option value="LOST">LOST</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group label-floating">
									<label class="control-label">Forecast</label>
									<select class="form-control" formControlName="forecast">
										<option value="NOT_FORECAST">NOT FORECAST</option>
										<option value="FORECAST">FORECAST</option>
										<option value="UPSIDE">UPSIDE</option>
										<option value="LOST_DEAD">LOST/DEAD</option>
										<option value="CLOSED_WON">CLOSED/WON</option>

									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="input-group">
									<input type="number" min="1" max="100" class="form-control" placeholder="Probability" formControlName="probability">
									<span class="input-group-addon">
										<i class="fa fa-percent"></i>
									</span>
								</div>
							</div>


							<div class="col-sm-12">
								<textarea class="form-control" placeholder="Description" rows="2" formControlName="description"></textarea>
							</div>
							<div class="col-sm-12 col-sm-offset-10">
								<input type="submit" class="btn btn-default" value="Submit" [disabled]="">
							</div>

						</form>


					</div>

				</div>
			</div>

			<div class="card" *ngIf="person">
				<div class="card-header " data-background-color="default">
					<h4 class="title">The opportunities of the selected Profile <i *ngIf="person.title">&nbsp;{{person.title}} .
						</i>&nbsp; {{person.name}}</h4>
					<p class="category"></p>
				</div>
				<div class="card-content table-responsive table-full-width">
					<table class="table">
						<thead class="text-danger">
							<th></th>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
							<th></th>
						</thead>
						<tbody>
							<tr *ngFor="let oppo of opportunities">
								<td>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="optionsCheckboxes" checked>
										</label>
									</div>
								</td>
								<td>{{oppo.id}}</td>
								<td>{{oppo.name}}</td>
								<td class="descOppo">{{oppo.description}}</td>
							</tr>


						</tbody>
					</table>


					<div class="text-center">

						<ul *ngIf="opportunities" class="pagination-danger pagination">
							<li><a class="single">Page {{pager.currentPage}} of {{pager.totalPages}}</a></li>
							<li [ngClass]="{disabled:pager.currentPage === 1}">
								<a (click)="setPage(1)">
									<<</a> </li> <li [ngClass]="{disabled:pager.currentPage === 1}">
										<a (click)="setPage(pager.currentPage - 1)">
											<</a> </li> <li *ngFor="let page of pager.pages; index as index" [ngClass]="{active:pager.currentPage === index + 1}">
												<a (click)="setPage(index + 1)">{{index + 1}}</a>
							</li>



							<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
								<a (click)="setPage(pager.currentPage + 1)">></a>
							</li>


							<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
								<a (click)="setPage(pager.totalPages)">>></a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>


	</div>
	<div class="col-md-6 col-md-offset-3">
		<h1>Home</h1>
		<p>{{bodyText}}</p>
		<button (click)="openModal('custom-modal-1')">Open Modal 1</button>
		<button (click)="openModal('custom-modal-2')">Open Modal 2</button>
	</div>


</div>