.descOppo {

    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination>.active>a {
    z-index: 3;
    color: #f5f5f5;
    cursor: pointer;
    background-color: #1a73e8;
    border-color: #1a73e8;
}

.pagination>li>a {
    border-radius: 20px;
}

.single {
    border: none;
}

.addBtn {
    float: right;
    top: -20px;
    right: 7%;
    position: absolute;
}

.cardHeader {
    display: flex;
    padding: 15px;
    min-height: 149px;
}