.navBarColors{
	background: linear-gradient(to left,  #ddddddad,#9e9e9e);
    color: #424040;
    width: 90%;
}
.BackCard{
	background-color: lightgrey;
}
.rowGraph {
	margin-top: 50px;
    margin-bottom: 50px;
}