<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card" *ngIf="person">
                <div class="card-header" data-background-color="default">
                    <h4 class="title">Details of the selected Profile <i *ngIf="person.title">&nbsp;{{person.title}} .
                        </i>&nbsp; {{person.name}}</h4>
                    <p class="category">Scroll Down to see all the informations related to this person </p>
                </div>
                <div class="card-content">
                    <div class="panel panel-default">
                        <div class="panel-heading">Personnal informations</div>
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group label-floating ">
                                        <label class="control-label">Name </label>
                                        <input type="text" disabled [(ngModel)]="person.name" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating ">
                                        <label class="control-label">Person Type </label>
                                        <input type="text" disabled [(ngModel)]="person.personType" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating inputDropDown" *ngIf="primary.classification">
                                        <label class="control-label">Classification</label>
                                        <input type="text" disabled [(ngModel)]="primary.classification" class="form-control inputWidth" />

                                    </div>
                                    <div class="form-group label-floating " *ngIf="!primary.classification">
                                        <label class="control-label">Classification </label>
                                        <input type="text" disabled class="form-control" />
                                    </div>
                                </div>
                                <div class="row LNblock " *ngIf="person.personType == 'NATURAL'">
                                    <div class="col-md-3">
                                        <div class="form-group label-floating ">
                                            <label class="control-label"> Nationality</label>
                                            <input type="text" disabled [(ngModel)]="person.nationality" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Gender </label>
                                            <input type="text" disabled [(ngModel)]="person.gender" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Profession </label>
                                            <input type="text" disabled [(ngModel)]="person.profession" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Civil Status </label>
                                            <input type="text" disabled [(ngModel)]="person.civilStatus" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row LNblock " *ngIf="person.personType == 'LEGAL'">
                                    <div class="col-md-3">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Legal Form </label>
                                            <input type="text" disabled [(ngModel)]="person.legalForm" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Capital </label>
                                            <input type="text" disabled [(ngModel)]="person.capital" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Capital Currency </label>
                                            <input type="text" disabled [(ngModel)]="person.capitalCurr" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Social Reason </label>
                                            <input type="text" disabled [(ngModel)]="person.socialReason" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Activity </label>
                                            <input type="text" disabled [(ngModel)]="person.activity" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Contact Informations</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating inputDropDown" *ngIf="primary.email">
                                        <label class="control-label">Emails</label>
                                        <input type="text" disabled [(ngModel)]="primary.email.address" class="form-control inputwidth" />
                                        <div class="dropdown drpDown">
                                            <button type="button" class="btn btn-secondary btnDropDown" data-toggle="dropdown">
                                                more &nbsp;
                                                <b class="caret"></b>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li *ngFor="let cls of person.emails"><a href="">{{cls.emailType}} =>
                                                        {{cls.address}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group label-floating " *ngIf="!primary.email">
                                        <label class="control-label">Emails</label>
                                        <input type="text" disabled class="form-control" />
                                    </div>
                                    <!--<div class="form-group label-floating ">
                                    <label class="control-label"> </label>
                                        <div *ngFor="let cls of person.emails">
                                            <a *ngIf="cls.stillPrimary == true" disabled class="list-group-item">{{cls.emailType}} :      {{cls.address}}</a>
                                        </div>                                      
                                </div>-->
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating inputDropDown" *ngIf="primary.phone">
                                        <label class="control-label">Phones</label>
                                        <input type="text" disabled [(ngModel)]="primary.phone.number" class="form-control inputWidth" />
                                        <div class="dropdown drpDown">
                                            <button type="button" class="btn btn-secondary btnDropDown" data-toggle="dropdown">more
                                                &nbsp;
                                                <b class="caret"></b>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li *ngFor="let cls of person.phones">
                                                    <a>{{cls.type}} => {{cls.number}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group label-floating " *ngIf="!primary.phone">
                                        <label class="control-label">Phones</label>
                                        <input type="text" disabled class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating inputDropDown" *ngIf="primary.document">
                                        <label class="control-label">Documents</label>
                                        <input type="text" disabled [(ngModel)]="primary.document.type" class="form-control inputWidth" />
                                        <div class="dropdown drpDown">
                                            <button type="button" class="btn btn-secondary btnDropDown" data-toggle="dropdown">more
                                                &nbsp;
                                                <b class="caret"></b>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li *ngFor="let cls of person.documents">
                                                    <a>{{cls.type}} => {{cls.code}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group label-floating " *ngIf="!primary.document">
                                        <label class="control-label">Documents</label>
                                        <input type="text" disabled class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" *ngIf="showAudit">
                        <div class="panel-heading">Personnal informations</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group label-floating ">
                                        <label class="control-label">Created By</label>
                                        <input type="text" disabled [(ngModel)]="person.createdBy" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Created Date</label>
                                        <ul class="list-group">
                                            <li class="list-group-item">{{person.creationDate | date: 'dd-MM-yyyy'}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating ">
                                        <label class="control-label">Last Modified By</label>
                                        <input type="text" disabled [(ngModel)]="person.lastModifiedBy" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Last Modified Date</label>
                                        <div class="list-group">
                                            <ul class="list-group">
                                                <li class="list-group-item">{{person.lastModifiedDate | date:
                                                    'dd-MM-yyyy'}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-light auditBtn" type="button" (click)="ShowAudit()">Show Audit</button>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label"> </label>
                                    <textarea readOnly class="form-control" rows="5">{{person.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="!person">
            </div>
        </div>
    </div>
</div>