.btnDropDown {
	width: 70px;
    height: 25px;
    padding: 5px;
    margin: 5px;

}
.inputDropDown {
	display: inline-flex;
}
.inputWidth {
	/*width: 100%;*/
	width: 170px;
}
.LNblock{
	margin : 0px;
}
.drpDown{
	position: absolute;
    display: inline-flex;
    margin-left: 100%;
    margin-right: 0px;
}
.auditBtn{
	border-radius: 30px;
    background: linear-gradient(60deg, #777, #fb00009e);
}
.inputwidth {
	width: 230px;
}
