<div class="main-content">
    <div class="container-fluid" *ngIf="person">
    	<div class="row" >
    		<nav class="navbar navbar-default navBarColors ">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="">
			        Records of the client {{person.name}}
			      </a>
			    </div>
			  </div>
			</nav>
    	</div>
    	<div class="col-md-10">
            <div class="card card-stats" >
                <div class="card-header" data-background-color="red">
                    <i class="material-icons">receipt</i>
                </div>
                <h4 >Edit the profile records</h4>
              	<div class="row rowSelect ">
                    <div class="col-md-2">
                        <div class="form-group label-floating ">
                            <label class="control-label">Id </label>
                            <input type="text"  [(ngModel)]="person.id" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating ">
                            <label class="control-label">Name </label>
                            <input type="text"  [(ngModel)]="person.name" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="typeTrigger"  class="form-group label-floating ">
                            <label class=" control-label notEmpty">Person Type </label>
                            <select [(ngModel)]="person.personType" (input)="onInput($event)" class="form-control" >
                              <option *ngFor="let coun of personTypes" [ngValue]="coun" >{{coun}}</option>
                            </select>                        
                        </div>
                    </div>
                    <div class="col-md-4 selectGroup">
                       <div class="form-group label-floating selectGroup">
                            <label class="control-label">Classification  </label>   
                            <select class="selectpicker form-control selectForm" (change)="onChangeClassif($event)" [(ngModel)]="selectedClassif" >
                              <optgroup label="owner list ">
                                <option *ngFor="let topic of person.classification" [ngValue]="topic.type" >  
                                    {{topic.type}}&nbsp;&nbsp;&nbsp;<strong >x</strong>
                                </option>  
                              </optgroup>
                            </select> 
                            <div class="dropdown">
                                <button type="button" class="btn btn-secondary btnDropDown" data-toggle="dropdown">add &nbsp;
                                    <b class="caret"></b>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let topic of classifTypes" ><a (click)="addClassif(topic)">{{topic}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="LNCard" *ngIf="person.personType == 'NATURAL'">
                        <div class="col-md-3">
                            <div class="form-group label-floating ">
                                <label class="control-label"> Nationality</label>
                                <input type="text"  [(ngModel)]="person.nationality" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating ">
                                <label class="control-label">Gender </label>
                                <input type="text" [(ngModel)]="person.gender" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating ">
                                <label class="control-label">Profession </label>
                                <input type="text" [(ngModel)]="person.profession" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating ">
                                <label class="control-label">Civil Status </label>
                                <input type="text" [(ngModel)]="person.civilStatus" class="form-control" />
                            </div>
                        </div> 
                    </div>
                    <div class="LNCard" *ngIf="person.personType == 'LEGAL'">
                        <div class="col-md-3">
                            <div class="form-group label-floating ">
                                <label class="control-label notEmpty">Legal Form </label>                               
                                <select [(ngModel)]="person.legalForm" class="form-control" >
                                  <option *ngFor="let coun of legalForm" [ngValue]="coun" >{{coun}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating ">
                                <label class="control-label">Capital </label>
                                <input type="text" disabled [(ngModel)]="person.capital" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating ">
                                <label class="control-label">Capital Currency </label>
                                <input type="text" disabled [(ngModel)]="person.capitalCurr" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating ">
                                <label class="control-label">Social Reason </label>
                                <input type="text" disabled [(ngModel)]="person.socialReason" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating ">
                                <label class="control-label notEmpty">Activity </label>                               
                                <select [(ngModel)]="person.activity" class="form-control" >
                                  <option *ngFor="let coun of activities" [ngValue]="coun" >{{coun}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i> <a href="#pablo">To submit the changes in the profile of this client  click this button </a>
                    </div>
                    <button class="btn btn-default updateBtn" (click)="updatePerson()" >Edit personnal Infos </button>
                </div>
            </div>
         </div>	
    </div>
</div>