.cardForm {
	background: linear-gradient(60deg, #f44336, #fb000070);
}
.LNCard {
	margin: 20px;
}
.navBarColors{
	background: linear-gradient(to left,  #ddddddad,#9e9e9e);
    color: #424040;
    width: 90%;
}
.rowSelect {
	margin-right: -15px;
    margin-left: 15px;
    margin-top: 30px;
}
span{
    border: 5px;
    margin-right: 0px;
    margin-left: 80%;
    padding: 10px;
}
.btnDropDown {
	width: 70px;
    height: 25px;
    padding: 5px;
    margin: 5px;
    position: absolute;
}
.selectGroup{
	display: inline-flex;
}
.selectForm{
	width: 160px;
}
.notEmpty {
    top: -30px!important;
    font-size: 11px!important;
}
.updateBtn{
    background: linear-gradient(260deg, #9e9e9e, #ddddddad);
    border-radius: 40px;
}