<div class="logo" *ngIf="isHome()">
    <a href="" class="simple-text">
        <div class="logo-img">
            <i class="material-icons">view_list</i>
        </div>
         Clients List 
    </a>
</div>
<div class="sidebar-wrapper" *ngIf="!isHome()" >
    
    <ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">
            <li routerLinkActive="active" *ngFor="let nmenuItem of navMenuItems" class="{{nmenuItem.class}}">
                <a  [routerLink]="[nmenuItem.path]">
                    <i class="material-icons">{{nmenuItem.icon}}</i>
                    <p>{{nmenuItem.title}}</p>
                </a>
            </li>
    </ul> 
    <div class="nav-container" [class.separatorMenu]="isMobileMenu()" *ngIf="isDetails()" >
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="sidebar-wrapper" *ngIf="isHome()">
    
    
    <ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">
            <li routerLinkActive="active" *ngFor="let nmenuItem of navMenuItems" class="{{nmenuItem.class}}">
                <a  [routerLink]="[nmenuItem.path]">
                    <i class="material-icons">{{nmenuItem.icon}}</i>
                    <p>{{nmenuItem.title}}</p>
                </a>
            </li>
    </ul> 

    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
